.title {
	font-weight: bold;
}

.message-container {
	position: fixed;
	top: 0;
	transform: translate(-50%, 0);
	left: 50%;
	margin-top: 10px;
	max-width: 400px;
	z-index: 1;
	padding-right: 25px;
	padding-top: 20px;
	width: 400px;
}

.message hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.message ul {
	list-style-type: none;
	padding-left: 10px;
}

.message li {
	margin-bottom: 5px;
}

.message {
	transition: all 1s linear;
}

.message .glyphicon.glyphicon-remove {
	position: relative;
	display: inline-block;
	float: right;
	margin-right: -10px;
	margin-top: -10px;
	cursor: pointer;
}

.message.ng-hide-add{
	transition: all 1s linear;
  	opacity: 0;
}

.message.ng-hide-remove {
	transition: all 1s linear;
  	opacity: 1;
  	display: block !important;
}