<link rel="stylesheet" type="text/css" href="/LIB/Messages/Messages.css">
<script type="text/javascript" src="/ANIMATE/angular-animate.min.js"></script>
<div class="message-container" ng-show="errorArray.length > 0 || alertArray.length > 0 || successArray.length > 0">	
	<div class="alert alert-danger message" ng-show="errorArray.length > 0">
		<span class="glyphicon glyphicon-remove" ng-click="close(&quot;error&quot;, $event)"></span>
		<div class="title" ng-if="errorArray.length === 1">Ops, aconteceu um erro: </div>
		<div class="title" ng-if="errorArray.length > 1">Ops, aconteceram alguns erros: </div>
		<hr/>
		<ul ng-repeat="error in errorArray track by $index">
			<li>{{error}}</li>
		</ul>
	</div>
	<div class="alert alert-warning message" ng-show="alertArray.length > 0">
		<span class="glyphicon glyphicon-remove" ng-click="close(&quot;alert&quot;, $event)"></span>
		<div class="title" ng-if="alertArray.length > 0">Atenção: </div>
		<hr/>
		<ul ng-repeat="alert in alertArray track by $index">
			<li>{{alert}}</li>
		</ul>
	</div>
	<div class="alert alert-success message" ng-show="successArray.length > 0">
		<span class="glyphicon glyphicon-remove" ng-click="close(&quot;success&quot;, $event)"></span>
		<div class="title" ng-if="successArray.length > 0">Sucesso: </div>
		<hr/>
		<ul ng-repeat="success in successArray track by $index">
			<li>{{success}}</li>
		</ul>
	</div>
</div>