.ui-accordion-title {
	border: 1px solid #CCCCCC;
	cursor: pointer;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px 5px 0px 0px;
	margin-top: 10px;
	text-align: left;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+0,a0a0a0+100 */
	background: rgb(204,204,204); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(160,160,160,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(160,160,160,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(160,160,160,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(160,160,160,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(160,160,160,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,rgba(160,160,160,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#cccccc", endColorstr="#a0a0a0",GradientType=0 ); /* IE6-9 */
}

.ui-accordion-content {
	border: 1px dashed #CCCCCC;
	border-top: 0px;
	border-radius: 0px 0px 5px 5px;
	background-color: #FFFFFF;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: left;
}