div.jumbotron h3 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 50px;
}

div.jumbotron .componentWrapper{
	overflow: hidden;
	position: relative;
}

div.jumbotron .component {
	background-color: #C5C5C5;
	width: 200px;
	height: 200px;
	border-radius: 8px;
	padding: 10px;	
	margin: 5px;
	display: inline-block;
	float: left;
}

div.jumbotron .component:hover {
	box-shadow: 0 0 10px #000000;
}

div.jumbotron .component .title {
	font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
}

.component .component-description {
	font-size: 15px;
}