<!DOCTYPE html>
<html ng-app="sample-application" ng-controller="displayer">
<head>
	<title>{{info.title}}</title>
	<meta chatset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="/Bootstrap/dist/css/bootstrap.min.css">	
	<script type="text/javascript" src="/Angular/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/Style/common.css">
	<script type="text/javascript" src="/JS/app.js"></script>
	<script type="text/javascript" src="/JS/component-displayer.js"></script>
	<link rel="stylesheet" type="text/css" href="/Style/component-displayer.css">

	<script type="text/javascript" src="/JS/ErrorMessages.js"></script>

	<script type="text/javascript" src="/LIB/Messages/Messages.js"></script>
	<script type="text/javascript" src="/LIB/Messages/Error/ErrorMessages.js"></script>
	<link rel="stylesheet" type="text/css" href="/LIB/Messages/Messages.css">
	<link rel="stylesheet" type="text/css" href="/LIB/Messages/Error/ErrorMessages.css">
</head>
<body ng-controller="sample-error">
	<component-displayer title="info.title" description="info.description">
		<error-messages error-array="errors"></error-messages>
		<div style="width: 40%; margin: 0 auto;">
			<input type="text" class="form-control" placeholder="Mensagem 1" style="margin-bottom: 5px;" ng-model="entity.message1" value=""/>
			<input type="text" class="form-control" placeholder="Mensagem 2" style="margin-bottom: 5px;" ng-model="entity.message2" value=""/>
			<input type="button" value="Faça-me uma mensagem de erro!" ng-click="addErrorMessage(entity)" class="btn btn-danger btn-block"/>
		</div>
	</component-displayer>


</body>
</html>