<!DOCTYPE html>
<html ng-app="sample-application" ng-controller="displayer">
<head>
	<title>{{info.title}}</title>
	<meta chatset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="/Bootstrap/dist/css/bootstrap.min.css">	
	<script type="text/javascript" src="/Angular/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/Style/common.css">
	<script type="text/javascript" src="/JS/app.js"></script>
	<script type="text/javascript" src="/JS/component-displayer.js"></script>
	<link rel="stylesheet" type="text/css" href="/Style/component-displayer.css">

	<script type="text/javascript" src="/JS/Messages.js"></script>

	<!--<script type="text/javascript" src="/LIB/Messages/Messages.js"></script> -->
	<script type="text/javascript" src="/TESTEEEEE/Messages.min.js"></script>

</head>
<body ng-controller="sample-message">
	<component-displayer title="info.title" description="info.description">
		<message-container error-array="errors" alert-array="alerts" success-array="success" success-timeout="5000"></message-container>
		<div style="width: 40%; margin: 0 auto;">
			<input type="text" class="form-control" placeholder="Mensagem 1" style="margin-bottom: 5px;" ng-model="entity.message1" value=""/>
			<input type="text" class="form-control" placeholder="Mensagem 2" style="margin-bottom: 5px;" ng-model="entity.message2" value=""/>
			<input type="button" value="Faça-me uma mensagem de erro!" ng-click="addErrorMessage(entity)" class="btn btn-danger btn-block"/>
			<input type="button" value="Faça-me uma mensagem de alerta!" ng-click="addAlertMessage(entity)" class="btn btn-warning btn-block"/>
			<input type="button" value="Faça-me uma mensagem de sucesso!" ng-click="addSuccessMessage(entity)" class="btn btn-success btn-block"/>
			
		</div>
	</component-displayer>


</body>
</html>