<!DOCTYPE html>
<html ng-app="sample-application" ng-controller="displayer">
<head>
	<title>{{info.title}}</title>
	<meta chatset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="/Bootstrap/dist/css/bootstrap.min.css">	
	<script type="text/javascript" src="/Angular/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/Style/common.css">
	<script type="text/javascript" src="/JS/app.js"></script>
	<script type="text/javascript" src="/ANIMATE/angular-animate.min.js"></script>
	<script type="text/javascript" src="/JS/component-displayer.js"></script>
	<link rel="stylesheet" type="text/css" href="/Style/component-displayer.css">
	<script type="text/javascript" src="/MIN/Messages.min.js"></script>
	<script type="text/javascript" src="/MIN/AccordionGroup.min.js"></script>
	<script type="text/javascript" src="/MIN/Masks.min.js"></script>

	<!--<script type="text/javascript" src="/LIB/Validators/Validators.js"></script>-->

	<script type="text/javascript" src="/MIN/Validators.min.js"></script>
	<script type="text/javascript" src="/JS/Validators.js"></script>

</head>
<body ng-controller="sample-validator">
	<component-displayer title="info.title" description="info.description">
		<message-container error-array="errors" success-array="success" success-timeout="5000"></message-container>
		<div style="width: 300px; margin: 0 auto;">
			
		<input type="text" class="form-control" ng-model="cpf" placeholder="CPF" cpf-mask/>
		<input type="button" class="btn btn-primary btn-block" value="Validar CPF." ng-click="validateCpf(cpf)"/>

		<input type="text" class="form-control" ng-model="cnpj" placeholder="CNPJ" cnpj-mask/>
		<input type="button" class="btn btn-primary btn-block" value="Validar CNPJ." ng-click="validateCnpj(cnpj)"/>

		</div>
	</component-displayer>
</body>
</html>